{% extends "baseLayout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Les Tâches
{% endblock %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.css' %}">
{% endblock %}
{% block content %}
<h1>Ajouter un utilisateur</h1>

<form action="/userTasks/addUser/" method="POST" class="card px-4 py-4">
    {% csrf_token %}
    {{ user_form | crispy }}
    <button type="submit" class="btn btn-success mt-3">Sauvegarder</button>
</form>

{% endblock %}