<!doctype html>
{% load static %}
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}Les Tâches{% endblock %}
    </title>
    {% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    {% endblock %}

</head>

<body>
    {% block nav %}
    <nav>
        <a href="/userTasks/list/">Liste des taches</a>
        <a href="/userTasks/users/">Liste des utilisateurs</a>
    </nav>
    {% endblock %}
    <main role="main" class="container top-pushed">
        <div class="jumbotron">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    {% block js %}
    <script src="{% static 'node_modules/jquery-slim/dist/jquery-slim.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.js' %}"></script>
    <script src="{% static 'node_modules/popper.js/dist/popper.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'scripts/script.js' %}"></script>
    {% endblock %}
</body>

</html>