<!DOCTYPE html>
{% load static %}
<html class="navMenu" lang="fr">

<head>
    <meta charset="UTF-8">
    {% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    {% endblock %}
</head>
{% block title %}
<title>
    Les Tâches
</title>
{% endblock %}
<body class="navMenu">
    <div class="containerNM">
        <div class="contentNM">Liste des taches</div>
        <div class="contentNM">Liste des utilisateurs</div>
    </div>
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'scripts/script.js' %}"></script>
{% endblock %}
</body>
</html>