{% extends "baseLayout.html" %}
{% load static %}
{% block title %}
Les Tâches
{% endblock %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.css' %}">
{% endblock %}
{% block content %}
<h1>Liste des utilisateurs</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
        </tr>
    </thead>
    {% for elem in objets %}
    <tbody id="user{{ forloop.counter }}">
        <tr>
            <td>{{elem.name}}</td>
            <td>{{elem.surname}}</td>
            <td style="display: flex; justify-content: flex-end;"><a href="/userTasks/users/delete/{{elem.id}}" style="margin-right: 10px;"><button class="btn btn-danger">Supprimer</button></a><a href="/userTasks/list/user/{{elem.id}}/"><button class="btn btn-info">Voir Taches</i></button></a></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<a href="/userTasks/addUser/"><button class="btn btn-primary" style="width: 100%; font-weight: bolder;"><i class="fa-solid fa-user"></i>+</button></a>
{% endblock %}