nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 75px;
    width: 100%;
    transition: height 0.5s;
    margin-bottom: 50px;
}

nav a{
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 300%;
    color: lightgray;
    background-color: #222;
    height: 100%;
    width: 100%;
    transition: background-color 1s;
    transition: font-size 1s;
}
nav a:hover{
    background-color: #333;
    color: lightgray;
    font-size: 350%;
    transition: background-color 1s;
    transition: font-size 1s;
}

.cardSpe{
    display: flex;
    justify-content: space-between;
}

.cardDetail{
    width: 60rem;
    font-size: 2em;
}

.btnList{
    width: 100%;
    font-weight: bolder;
}

.navMenu {
    height: 100%;
    width: 100%;
    margin: 0;
}

.containerNM {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    transition: height 0.5s;
}

.contentNM{
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 300%;
    color: lightgray;
    background-color: #222;
    height: 100%;
    width: 100%;
    transition: background-color 1s;
    transition: font-size 1s;
}
.contentNM:hover{
    background-color: #333;
    font-size: 350%;
    transition: background-color 1s;
    transition: font-size 1s;
}

.containerNM.clicked{
    height: 75px;
}